<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">


<!-- Latest compiled and minified JavaScript -->
<script src="https://unpkg.com/vue"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="http://knockoutjs.com/downloads/knockout-3.3.0.js"></script>
<script src="knockout.mapping.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numbro/1.11.0/languages.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/numbro/1.11.0/numbro.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://unpkg.com/vue-highcharts/dist/vue-highcharts.min.js"></script>

</head>
<body>
	<div class="container">
			<div id="app">
					
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="row">
					<h1>Calculo del sueldo</h1>
			</div>
			<div class="row">
					<form>
							<div class="form-group">
									
							<label for="salarioBruto">Salario bruto</label>
							<input type="text" class="form-control" id="salarioBruto" v-model="datoBruto">

							</div>
							<div class="form-group">
									
							<label for="otrosIngresos">Otros ingresos</label>
							<input type="text" class="form-control" id="otrosIngresos" v-model="datoOtrosIngresos">
							
							</div>
							<div class="form-group">
									<label for="staticEmail">Total bruto</label>
									  <input type="text" readonly class="form-control-plaintext" id="staticEmail" v-bind:value="totalBruto | moneda">
							</div>
						
							
					</form>
			</div>
			<div class="card">
					<div class="card-header">
					  Minimo familiar
					</div>
					<div class="card-body">
							<label for="inputPassword" class="col-sm-2 col-form-label">Minimo personal</label>
								  <input type="text" readonly class="form-control-plaintext" id="staticEmail" v-bind:value="minimoPersonal | moneda">
							<label for="inputPassword" class="col-sm-2 col-form-label">Descendientes</label>
									<input type="text" readonly class="form-control-plaintext" id="staticEmail" v-bind:value="descendientes | moneda">
									<label for="inputPassword" class="col-sm-2 col-form-label">Ascendientes</label>
									<input type="text" readonly class="form-control-plaintext" id="staticEmail" v-bind:value="ascendientes | moneda">
									<label for="inputPassword" class="col-sm-2 col-form-label">Minusvalias</label>
									<input type="text" readonly class="form-control-plaintext" id="staticEmail" v-bind:value="minusvalias | moneda">
									<label for="inputPassword" class="col-sm-2 col-form-label">Minimo familiar</label>
									<input type="text" readonly class="form-control-plaintext" id="staticEmail" v-bind:value="minimoFamiliar | moneda">
					</div>
					
				  </div>
				  <div class="card">
						<div class="card-header">
						  Seguridad social
						</div>
						<div class="card-body">
								<label for="inputPassword" class="col-sm-2 col-form-label">Rendimientos trabajo</label>
									  <input type="text" readonly class="form-control-plaintext" id="staticEmail" v-bind:value="rendimientosTrabajo| moneda">
								<label for="inputPassword" class="col-sm-2 col-form-label">Seguridad social</label>
										<input type="text" readonly class="form-control-plaintext" id="staticEmail" v-bind:value="seguridadSocial| moneda">
										<label for="inputPassword" class="col-sm-2 col-form-label">Otros</label>
										<input type="text" readonly class="form-control-plaintext" id="staticEmail" v-bind:value="otrosSeguridadSocial| moneda">
										<label for="inputPassword" class="col-sm-2 col-form-label">Total deducciones</label>
										<input type="text" readonly class="form-control-plaintext" id="staticEmail" v-bind:value="totalDeduccionesSeguridadSocial| moneda">
										<label for="inputPassword" class="col-sm-2 col-form-label">Base IRPF</label>
										<input type="text" readonly class="form-control-plaintext" id="staticEmail" v-bind:value="baseIrpf| moneda">
						</div>
						
					  </div>
					  <div class="card">
							<div class="card-header">
							  Porcentajes
							</div>
							<div class="card-body">
									<label for="inputPassword" class="col-sm-2 col-form-label">Tipo IRPF</label>
										  <input type="text" readonly class="form-control-plaintext" id="staticEmail" v-bind:value="porcentajeIrpf | porcentaje">
									<label for="inputPassword" class="col-sm-2 col-form-label">Tipo Seguridad Social</label>
											<input type="text" readonly class="form-control-plaintext" id="staticEmail" v-bind:value="tipoSS | porcentaje">
											<label for="inputPassword" class="col-sm-2 col-form-label">Tipo total</label>
											<input type="text" readonly class="form-control-plaintext" id="staticEmail" v-bind:value="totalPorcentajeImpuestos | porcentaje">
											
							</div>
							
						  </div>
						  <div class="card">
								<div class="card-header">
								  Sueldo
								</div>
								<div class="card-body">
										<label for="inputPassword" class="col-sm-2 col-form-label">Mensualidad</label>
											  <input type="text" readonly class="form-control-plaintext" id="staticEmail" v-bind:value="totalMensual | moneda">
										<label for="inputPassword" class="col-sm-2 col-form-label">Total anual</label>
												<input type="text" readonly class="form-control-plaintext" id="staticEmail" v-bind:value="totalAnualNeto | moneda">
												
												
								</div>
								
							  </div>
							  <div class="card">
									<div class="card-header">
									  Graficas
									</div>
									<div class="card-body">
											<highcharts :options="opcionesGrafica" ref="highcharts"></highcharts>
											
									</div>
									
								  </div>
		</div>
	</div>

<script>
	Vue.use(VueHighcharts);

	var app = new Vue({
		el: '#app',
		data: {
		  listado: [],
		  modalShown: false,
		  filtros: '',
		  //Constantes para 2017
		  maximoSS: 3751.26,
		  minimoSS: 1152.79,
		  tipoSS: 0.0635,
		  datoBruto : 20000,
		  datoOtrosIngresos:0,
		  //datos de los minimos personales
		  minimoPersonal: 5550,
		  descendientes: 0,
		  ascendientes: 0,
		  minusvalias: 0,
		  //datos de la seguridad social
		  rendimientosTrabajo: 2000,
		  otrosSeguridadSocial:0,
		  objetoRetenciones: {0:{min:0,max:12450,porcentaje:0.19},
							  1:{min:12450,max:20200,porcentaje:0.24},
							  2:{min:20200,max:35200,porcentaje:0.3},
							  3:{min:35200,max:60000,porcentaje:0.37},
							  4:{min:60000,max: Number.MAX_SAFE_INTEGER ,porcentaje:0.45}},
		 objetoRetenido:{0:{cantidad:0,retenido:0},
						 1:{cantidad:0,retenido:0},
						 2:{cantidad:0,retenido:0},
						 3:{cantidad:0,retenido:0},
						 4:{cantidad:0,retenido:0}},

		},
		computed: {
    // a computed getter
    totalBruto: function () {
      // `this` points to the vm instance
      return parseInt(this.datoBruto) + parseInt(this.datoOtrosIngresos) 
	},
	minimoFamiliar: function () {
      // `this` points to the vm instance
      return parseInt(this.minimoPersonal) + parseInt(this.descendientes)+ parseInt(this.ascendientes) + parseInt(this.minusvalias)
	},
	totalDeduccionesSeguridadSocial: function () {
      // `this` points to the vm instance
      return parseInt(this.rendimientosTrabajo) + parseInt(this.seguridadSocial)+ parseInt(this.otrosSeguridadSocial) 
	},
	baseIrpf: function () {
      // `this` points to the vm instance
      return this.totalBruto-this.totalDeduccionesSeguridadSocial
	},
	maximoAnualSS: function(){
		return 12*this.maximoSS
	},
	minimoAnualSS: function(){
		return 12*this.minimoSS
	},
	seguridadSocial: function(){
		if (this.totalBruto >= this.maximoAnualSS)
			return this.tipoSS * this.maximoAnualSS
		if (this.totalBruto < this.maximoAnualSS && this.totalBruto >= this.minimoAnualSS)
			return this.tipoSS * this.totalBruto
		if (this.totalBruto < this.maximoAnualSS && this.totalBruto < this.minimoAnualSS)
			return this.tipoSS * this.minimoAnualSS
	},
	deduccionesIrpf: function(){
		var indice = 0;
		var queda = this.baseIrpf;
		var retenidoTotal = 0
		while(queda!=0){
			var diferencia = this.objetoRetenciones[indice].max-this.objetoRetenciones[indice].min
			if (queda > diferencia){
				this.objetoRetenido[indice].cantidad = diferencia
				this.objetoRetenido[indice].retenido = diferencia * this.objetoRetenciones[indice].porcentaje				
				queda = queda-diferencia
			}else{
				this.objetoRetenido[indice].cantidad = queda
				this.objetoRetenido[indice].retenido = queda * this.objetoRetenciones[indice].porcentaje
				queda = 0
			}
			retenidoTotal = retenidoTotal + this.objetoRetenido[indice].retenido
			indice = indice +1
		}
		return retenidoTotal
	},
	libreIrpf: function(){
		var indice = 0;
		var queda = this.minimoFamiliar;
		var diferencia = this.objetoRetenciones[0].max-this.objetoRetenciones[0].min
		var retenido = queda * this.objetoRetenciones[0].porcentaje
		return retenido
	},
	totalRetencionIrpf: function(){
		return this.deduccionesIrpf-this.libreIrpf;
	},
	porcentajeIrpf: function(){
		return this.totalRetencionIrpf/this.totalBruto
	},
	totalImpuestos: function(){
		return this.totalRetencionIrpf+this.seguridadSocial
	},
	totalPorcentajeImpuestos: function(){
		return this.totalImpuestos/this.totalBruto
	},
	totalAnualNeto: function(){
		return ((1-this.totalPorcentajeImpuestos)*this.totalBruto)
	},
	totalMensual: function(){
		return this.totalAnualNeto/12
	},
	opcionesGrafica: function(){
	return { chart: {
			plotBackgroundColor: null,
			plotBorderWidth: null,
			plotShadow: false,
			type: 'pie'
		},
		series: [{
			data: [{
				name: 'Salario',
				y: 100-(100*this.porcentajeIrpf)-(this.totalPorcentajeImpuestos-this.porcentajeIrpf)*100
			}, {
				name: 'IRPF',
				y: this.porcentajeIrpf*100,
			}, {
				name: 'Seguridad social',
				y: (this.totalPorcentajeImpuestos-this.porcentajeIrpf)*100}
]
		}]
	}
}

	

  },
  beforeCreate: function(){
	numeral.register('locale', 'fr', {
		delimiters: {
			thousands: ' ',
			decimal: ','
		},
		abbreviations: {
			thousand: 'k',
			million: 'm',
			billion: 'b',
			trillion: 't'
		},
		ordinal : function (number) {
			return number === 1 ? 'er' : 'ème';
		},
		currency: {
			symbol: '€'
		}
		
	});
	numeral.locale('fr');
  },
  mounted: function(){
  },
  filters: {
  moneda: function (value) {
	return numeral(value).format('0,0[.]00 $');
  },
  porcentaje: function(value){
	  return numeral(value).format('0.00%');
  }
},
		  methods:{
		  toggleModal() {
			return document.getElementById('myModal').modal('show');
		  
		  }
		  }
	  })
</script>	  
</body>
</html>